<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GradingSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.ibm.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentSubjectList</display-name>
    <servlet-name>StudentSubjectList</servlet-name>
    <servlet-class>com.ibm.servlets.StudentSubjectList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSubjectList</servlet-name>
    <url-pattern>/StudentSubjectList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageStudent</display-name>
    <servlet-name>ManageStudent</servlet-name>
    <servlet-class>com.ibm.servlets.ManageStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageStudent</servlet-name>
    <url-pattern>/ManageStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.ibm.servlets.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubject</display-name>
    <servlet-name>AddSubject</servlet-name>
    <servlet-class>com.ibm.servlets.AddSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubject</servlet-name>
    <url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentSubject</display-name>
    <servlet-name>AddStudentSubject</servlet-name>
    <servlet-class>com.ibm.grading.system.AddStudentSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentSubject</servlet-name>
    <url-pattern>/AddStudentSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentList</display-name>
    <servlet-name>StudentList</servlet-name>
    <servlet-class>com.ibm.servlets.StudentList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentList</servlet-name>
    <url-pattern>/StudentList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ibm.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentProfile</display-name>
    <servlet-name>StudentProfile</servlet-name>
    <servlet-class>com.ibm.servlets.StudentProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentProfile</servlet-name>
    <url-pattern>/StudentProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudent</display-name>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>com.ibm.servlets.UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGrade</display-name>
    <servlet-name>UpdateGrade</servlet-name>
    <servlet-class>com.ibm.servlets.UpdateGrade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGrade</servlet-name>
    <url-pattern>/UpdateGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSubject</display-name>
    <servlet-name>UpdateSubject</servlet-name>
    <servlet-class>com.ibm.servlets.UpdateSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubject</servlet-name>
    <url-pattern>/UpdateSubject</url-pattern>
  </servlet-mapping>
</web-app>